extends layout

block content
        .container
            h1 About Us
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
            ul
                li Vivanus nec scelerisque
                li Cras officitur
                li Nam lectus elit
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC

